#noviDescription {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 5%;
    font-size: 16px;
    /* color: #000 !important;
    font-size: 12px !important; */
}

.footer .logo h1 {
    color: #3BB29D;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 48px;
}

.doubts {
    margin-top: 5%;
}

.doubts a {
    display: block;
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #3BB29D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.footer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas: "logo doubts socialMedias";
    justify-content: space-between;
    background-color: #FFF;
    padding: 0 5%;
}

.socialMedias {
    display: block;
    margin-top: 1%;
}

/*Mobile Query*/
@media (max-width:480px) {
    .footer{
        display: grid;
        grid-template-areas: 
        "logo"
        "doubts"
        "socialMedias";
        grid-gap: 1rem;
    }
    .logo {
        height: auto;
    }
    .landingPage  {
        height: auto;
    }

    #noviDescription {
        font-size: 14px;
    }

    .doubts a {
        font-size: 12px;
    }
}

/*Tablet Query*/
@media (min-width: 481px) and (max-width:768px) {
    .footer{
        display: grid;
        grid-template-areas: 
        "logo"
        "doubts"
        "socialMedias";
        grid-gap: 2rem;
    }
}

/*Desktop Query
@media (min-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile, .tablet {
        display: block;
    }
}
*/