.LPUs {
    display: grid;
    grid-template-columns: auto 4rem 1rem;
    grid-template-areas: "LpUsText LpOurImage LpBackgroundUs";
    align-items: center;
    /* grid-gap: 10rem; */
    padding: 7% 5%;
    background-color: #FFF;
    max-width: 55%;
    /* height: 300%; */
}

.h4AboutUs {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 14px;
}

.LogoNoviUs {
    width: 40%;
    height: 40%;
}

.descriptionUs {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 7%;
    width: 70%;
}

.LpOurImage {
    width: 70vh;
    height: 70vh;
    z-index: 1;
}

.LpBackgroundUs {
    background-image: url('../img/LpBackgroundUs.png');
    background-color: #318269;
    height: 70vh;
    width: 88.4vh;
    /* width: 48.4vh; */
    opacity: .9;
    position: absolute;
    left: 75%;
    bottom: 20%;

}
