:root {
    --primary-color: #3BB29D;
    --secondary-color: #415580;
}

* { 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.login {
    min-width: 100%;
    min-height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: inherit;
    max-width: 350px;
}

.logo h1{
    width: 145px;
    height: 50px;
    font-family: 'Audiowide', cursive;
    color: var(--primary-color);
}

.loginFields {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.loginFields label {
    margin-bottom: 0.5rem;
}

.loginFields input {
    max-width: 100%;
    line-height: 2rem;
    font-size: 0.9rem;
    border: 1px solid #c1c1c1;
    outline: none;
    padding-left: 5px;
}

.loginFields small { 
    margin-top: 5px;
}

#loginPassword {
    border: none;
    width: 100%;
}

.passwordContent {
    display: flex;
    border: 1px solid #c1c1c1;
    cursor: pointer;
}

.showHidePassword h4 {
    margin: 5.5px;
    font-size: 1.3rem;
    color: #c1c1c1;
}

.loginSubmit {
    padding: 12px 24px;
    gap: 8px;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
}
