@import url("../../../../assets/css/novi.css");

.LPUs {
    display: grid;
    grid-template-columns: auto 4rem 1rem;
    grid-template-areas: "LpUsText LpOurImage LpBackgroundUs";
    align-items: center;
    justify-content: center;
    padding: 10% 5%;
    background-color: #FFF;
    position: relative;
}

.LpUsText {
    max-width: 55%;
}

.h4AboutUs {
    font-weight: 300;
    color: #2D2D2D;
    font-size: 16px;
}

#noviLogoUs {
    font-family: var(--font-family-audiowide), cursive;
    color: var(--primary-color);
    font-size: 120px;
    font-weight: 400;
}

.descriptionUs {
    font-weight: 400;
    font-size: 16px;
    margin-top: 3%;
    width: 70%;
}

.LpOurImage {
    position: absolute;
    width: 70vh;
    height: 70vh;
    left: 55%;
    top: 15%;
    z-index: 1;
}

.LpBackgroundUs {
    background-image: url('../img/lpBackgroundUs.png');
    background-color: var(--primary-color);
    height: 70vh;
    /* width: 88.4vh; */
    width: 51.2vh;
    opacity: .9;
    position: absolute;
    left: 75%;
    bottom: 20%;

}
